.products-cards-section {
    width: 90%;
    margin: 0 auto;
    column-gap: 10rem;
    margin-bottom: 10rem;
}

.desarrollo-software-card-container {
    position: relative;
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
}

.desarrollo-software-card-container div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    transition: all 1.2s;
}

.desarrollo-card-front {
    background-color: #F7F7F7;
    border: 4px solid #CCCCCC;
    transform: perspective(1000px) rotateY(0deg);
}

.desarrollo-card-back {
    background-color: #F7F7F7;
    border: 4px solid #CCCCCC;
    transform: perspective(1000px) rotateY(180deg);
}

.desarrollo-software-card-container:hover .desarrollo-card-front {
    transform: perspective(1000px) rotateY(180deg);
}

.desarrollo-software-card-container:hover .desarrollo-card-back {
    transform: perspective(1000px) rotateY(360deg);
}

.desarrollo-card-front-image {
    width: 20rem;
    height: 65%;
    margin: 0 auto;
}

.card-front-title {
    width: 50%;
    margin: 0 auto;
    color: var(--naranja);
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}

.card-back-top {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.desarrollo-card-back-image {
    width: 12rem;
}

.card-back-description-container {
    margin-top: 4rem;
}

.card-back-title {
    display: flex;
    align-items: center;
    height: 35%;
    justify-content: center;
    width: 38%;
    color: var(--naranja);
    font-size: 2.4rem;
    margin-left: 6rem;
}

.card-back-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.7rem;
    color: var(--naranja);
}

.card-description-1-parrafo,
.card-description-2-parrafo,
.card-description-3-parrafo {
    margin: 2rem auto;
    text-align: center;
}

.diseño-title {
    width: 44%;
}